.btn {
    width: 156px;
    height: 51px;
    color: #132E35;
    background-color: #81FE88;
    border-radius: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border: none;
}

.icon {
    width: 10px;
    height: 10px;
    color: #132E35;
    margin-left: 5px;
    transform: rotate(180deg);
}