.icon{
    width: 16px;
    height: 16px;
    color: #BCBCBC;
    cursor: pointer;
}

.icon:hover{
    color: #81FE88;
}

.form {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer {
    display: flex;
    align-items: flex-end;
}